.footer-section {
    color: rgb(255, 255, 255);
    background: rgb(27, 30, 62);
    padding: 50px 0;
    text-align: left;
    display: block;
    width: 100%;
    position: relative;
    .container {
        max-width: 1024px;

        ul {
            li {
                text-align: left;

                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 300;
                    font-size: 13px;
                }
            }
        }
        .content {
            .text-left {
                text-align: left !important;

                p {
                    font-weight: 300;
                    font-size: 13px;
                }
            }
        }
    }
}