.about-Us {
  .cover-container {
    &.site-cover {
      margin: 0;
      margin-right: 0px;
      margin-left: 0px;
      background: url(../../assests/image/company-bg.jpg);
      background-repeat: repeat;
      background-size: auto;
      background-repeat: repeat;
      background-size: auto;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .main-section {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin-top: 60px;
      .mt-50 {
        margin-top: 50px;
        max-width: 1024px;
      }

      .about-us-subtext {
        p {
          color: #ffffff;
          font-size: 20px;
          margin-bottom: 30px;
          text-align: justify;
          line-height: 1.8;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .about-Us {
    .cover-container {
      .main-section {
        // min-height: 80vh;
      }
    }

    .about-us-subtext {
      p {
        font-size: 17px;
        margin-bottom: 20px;
        line-height: 1.5;
        font-weight: 400;
      }

    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;

    .about-us-subtext {
      p {
        line-height: 1.5;
        font-weight: 400;
      }

    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    .about-us-subtext {
      p {
        line-height: 1.5;
        font-weight: 400;
      }
    }
  }
}